@model inpatient_management_system.Models.doctorsModel

@{
    ViewBag.Title = "Delete Doctor";
}

<h2>Delete Doctor</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor_id)
        </dd>

        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.names)
        </dd>

        <dt>
            @Html.DisplayName("Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayName("Phone No")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_no)
        </dd>

        <dt>
            @Html.DisplayName("Date of Birth")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_birth)
        </dd>

        <dt>
            @Html.DisplayName("Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayName("Department")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>

        <dt>
            @Html.DisplayName("Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.HiddenFor(model => model.doctor_id)
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "list")
        </div>
    }

</div>

