@model inpatient_management_system.Models.patientModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>patientModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.patientid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.patientid)
                @Html.ValidationMessageFor(model => model.patientid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.First_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.First_Name)
                @Html.ValidationMessageFor(model => model.First_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Last_Name)
                @Html.ValidationMessageFor(model => model.Last_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB)
                @Html.ValidationMessageFor(model => model.DOB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Labid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Labid)
                @Html.ValidationMessageFor(model => model.Labid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Roomid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Roomid)
                @Html.ValidationMessageFor(model => model.Roomid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Admission_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Admission_date)
                @Html.ValidationMessageFor(model => model.Admission_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.discharge_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.discharge_date)
                @Html.ValidationMessageFor(model => model.discharge_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.illness, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.illness)
                @Html.ValidationMessageFor(model => model.illness)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
